[includeIf "gitdir:~/Documents/projects/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Documents/projects/workplace/"]
  path = ~/.gitconfig-at
[includeIf "gitdir:~/Documents/projects/disney/"]
  path = ~/.gitconfig-disney
[push]
	autoSetupRemote = true
