{
    AppleTextDirection = 1;
    NSForceRightToLeftWritingDirection = 0;
    NSFullScreenMenuItemEverywhere = 0;
    NSNavLastRootDirectory = "~/Downloads";
    NSNavPanelExpandedSizeForOpenMode = "{800, 448}";
    NSTreatUnknownArgumentsAsOpen = NO;
    "NSWindow Frame NSNavPanelAutosaveName" = "-250 -248 800 448 0 0 1728 1079 ";
}
