{
    UILogLocation =     (
        "/Users/adautoguedes/.cisco/vpn/log/UIHistory_2023.03.28.15.52.38.015.txt",
        "/Users/adautoguedes/.cisco/vpn/log/UIHistory_2023.03.28.16.06.56.830.txt",
        "/Users/adautoguedes/.cisco/vpn/log/UIHistory_2023.03.28.16.21.14.928.txt",
        "/Users/adautoguedes/.cisco/vpn/log/UIHistory_2023.03.28.16.35.34.044.txt",
        "/Users/adautoguedes/.cisco/vpn/log/UIHistory_2023.03.28.16.49.53.064.txt"
    );
}
