{
    NSNavLastRootDirectory = "~/Documents/projects/personal/spring_chaos";
    NSNavLastUserSetHideExtensionButtonState = 0;
    NSNavPanelExpandedSizeForOpenMode = "{800, 448}";
    "NSWindow Frame NSNavPanelAutosaveName" = "464 477 800 448 0 0 1728 1085 ";
    NSWindowAllowsImplicitFullScreen = 0;
}
