{
    AllVaultsExcludedProfileUUIDs =     (
    );
    "B5DS_2CT2UIAUGBF3TMHA5T5BPSNFJU_uhjy4ie7wfcpdhtuhphzpn2khu" = "b3BkYXRhMDEWAAAAAAAAAFVZUXIeUGsTiVNugBEQJ7hfMCAJ1ThtbSxNvgvS-LSJrMhQoqOHK2V4tA9_eg7Eb4cyY55ZEkcXKCHNmBWPm-7SPD4mSkZGknBeVd1F3ZfY";
    B5UserDeviceUUID = uhjy4ie7wfcpdhtuhphzpn2khu;
    "CompletedEssentialSettings_v7" = 1;
    ForceOPVaultUsageMigrationKey = 1;
    KeepHelperRunning = 1;
    LastActiveProfileUUID = "all-vaults-uuid";
    "MASPreferences Accounts Frame (en_BR)" = "{{0, 0}, {670, 285}}";
    "MASPreferences Advanced Frame (en_BR)" = "{{0, 0}, {650, 325}}";
    "MASPreferences Frame Top Left" = "{539, 902}";
    "MASPreferences General Frame (en_BR)" = "{{0, 0}, {590, 264}}";
    "MASPreferences Security Frame (en_BR)" = "{{0, 0}, {592, 429}}";
    "MASPreferences Selected Identifier View" = Accounts;
    "MASPreferences Watchtower Frame (en_BR)" = "{{0, 0}, {654, 377}}";
    MSAppCenter310AppCenterUserDefaultsMigratedKey = 1;
    MSAppCenter310CrashesUserDefaultsMigratedKey = 1;
    MSAppCenterAppDidReceiveMemoryWarning = 1;
    MSAppCenterInstallId = "A7845674-7FC4-4649-9CD8-67D4449E35C2";
    MSAppCenterPastDevices = {length = 1171, bytes = 0x62706c69 73743030 d4010203 04050607 ... 00000000 0000039d };
    MSAppCenterSessionIdHistory = {length = 460, bytes = 0x62706c69 73743030 d4010203 04050607 ... 00000000 00000156 };
    MSAppCenterUserIdHistory = {length = 455, bytes = 0x62706c69 73743030 d4010203 04050607 ... 00000000 00000151 };
    NSConstraintBasedLayoutLogUnsatisfiable = 0;
    NSNavLastRootDirectory = "~/Downloads";
    NSNavPanelExpandedSizeForOpenMode = "{800, 448}";
    "NSSplitView Subview Frames contentSplitView" =     (
        "0.000000, 0.000000, 299.000000, 1062.000000, NO, NO",
        "300.000000, 0.000000, 1174.000000, 1062.000000, NO, NO"
    );
    "NSWindow Frame MainWindow" = "18 9 1674 1062 0 0 1728 1079 ";
    "NSWindow Frame NSNavPanelAutosaveName" = "464 473 800 448 0 0 1728 1079 ";
    "NSWindow Frame NSSpellCheckerSubstitutionsPanel2" = "603 369 425 137 0 0 1728 1079 ";
    OPAppLaunchedFromLauncher = 0;
    OPKeychainUnlockServiceBiometryPolicyDomainState =     {
        evaluatedPolicyDomainState = {length = 32, bytes = 0xdf3d2030 38f4f013 b9e1c18a b3b4d494 ... fb9178d0 404d9f80 };
    };
    "OPMiniWindow.position.mode" = attached;
    "OPMiniWindow.position.{{-1920, 0}, {1920, 1200}}" = "{{-820, 814}, {626, 360}}";
    "OPMiniWindow.position.{{-3840, 0}, {1920, 1200}}" = "{{-2787, 814}, {687, 360}}";
    "OPMiniWindow.position.{{0, 0}, {1728, 1117}}" = "{{942, 718}, {687, 360}}";
    "OPMiniWindow.position.{{1728, 37}, {1920, 1080}}" = "{{2835, 731}, {626, 360}}";
    "OPPeriodicUpdateService-Timestamp-com.onepassword.bulletinservice" = {length = 137, bytes = 0x7b226461 7465223a 37303731 35353835 ... 67314f54 5639227d };
    "OPPeriodicUpdateService-Timestamp-watchtowerCompromisedDomains" = {length = 175, bytes = 0x7b226461 7465223a 37303731 35353835 ... 6b354f58 303d227d };
    "OPPeriodicUpdateService-Timestamp-watchtowerTwoFactorSites" = {length = 177, bytes = 0x7b226461 7465223a 37303731 35353835 ... 67354e48 303d227d };
    OPPrefFeatureEnableNewDetail = 1;
    OPPromptForSAEUserDefaultsPromptCountKey = 0;
    OPRemoveDemoProfileFromUnionProfileMigration = 1;
    OPUserMetricsLaunchCountKey = 84;
    OPUserMetricsUsageKey = "25227214.02690256";
    OPUserMetricsUsageStartKey = "2023-05-20 12:24:31 +0000";
    PasswordLength = 16;
    ShouldAddLicenseAtNextUnlock = 0;
    ShowStatusItem = 1;
    SidebarVaultListIsVisible = 1;
    SidebarWidth = 200;
    "Sidebar_2dt6jbhscvdttefav4gc75lrvy" =     {
        expandedNodes =         (
            categoriesSection
        );
        selectedNode = AllItems;
    };
    "Sidebar_account-2CT2UIAUGBF3TMHA5T5BPSNFJU" =     {
        expandedNodes =         (
            categoriesSection
        );
        selectedNode = 002;
    };
    "Sidebar_all-vaults-uuid" =     {
        expandedNodes =         (
            categoriesSection,
            tagsSection
        );
    };
    "Sidebar_beypuvlegqimto4x3iifkez2xi" =     {
        expandedNodes =         (
            categoriesSection,
            tagsSection
        );
    };
    "Sidebar_ilxtx6fl4zf3mxyhygfq46bwqu" =     {
        expandedNodes =         (
            categoriesSection
        );
        selectedNode = AllItems;
    };
    "Sidebar_j55ke457q5eyf5e2hkgg3cc7ta" =     {
        expandedNodes =         (
            categoriesSection
        );
        selectedNode = AllItems;
    };
    "Sidebar_srbmhaoe4rcyll5sn2pkk3d5ti" =     {
        expandedNodes =         (
            categoriesSection
        );
        selectedNode = AllItems;
    };
    "Sidebar_t4qtdglsdjtktasuvxfu66hdgm" =     {
        expandedNodes =         (
            categoriesSection,
            tagsSection
        );
    };
    WhatsNewVersion = 3;
    "__NSConstraintBasedLayoutLogUnsatisfiable" = 0;
    autosaveBlacklist = {length = 80, bytes = 0x6f706461 74613031 00000000 00000000 ... 6c7a5ec1 4da428e1 };
    "uhjy4ie7wfcpdhtuhphzpn2khu-biometry-quick-unlock-enabled" = 1;
    useOPVaultFormatByDefault = 1;
}
