{
    "Computer Serial" = VT4H5Y0NH2;
    "Computer UUID" = "EF6D8B23-47FC-5385-983E-2593AC89A71A";
    "HP Email" = "adauto.guedes@hp.com";
    "HP Username & Computer Number" = adautoguedes1;
    "InfoSec - Client Data" = 0;
    "InfoSec - FFIEC" = 0;
    "InfoSec - Government Regulated Data" = 0;
    "InfoSec - HIPAA" = 0;
    "InfoSec - PCI Data" = 0;
    "InfoSec - Sensitive Personal Information" = 0;
    "Registration Date" = "2022-50-28 16:50:27";
}
