{
    ActivityBaseDates =     {
        "<Unknown>" = "2023-05-18 02:32:33 +0000";
        "PDCardFileManager.RevocationCheck" = "2023-05-30 12:21:31 +0000";
        "PDMapsBrandAndMerchantUpdaterClientIdentifier.PDMapsBrandAndMerchantUpdaterActivityIdentifier" = "2023-05-30 12:24:37 +0000";
        "PDMapsMerchantProcessingServiceClientIdentifier.PDMapsMerchantProcessingActivityIdentifier" = "2023-05-30 12:24:49 +0000";
        "com.apple.AOSHeartbeat.daily" = "2023-05-30 15:18:49 +0000";
        "com.apple.AddressBook.ScheduledSync" = "2023-05-31 02:12:28 +0000";
        "com.apple.CacheDelete.daily" = "2023-05-29 21:14:44 +0000";
        "com.apple.DataDeliveryServices.update" = "2023-05-30 12:18:56 +0000";
        "com.apple.DataDetectorsLocalSource" = "2023-05-27 12:23:52 +0000";
        "com.apple.EscrowSecurityAlert.daily" = "2023-05-30 15:18:49 +0000";
        "com.apple.FileProvider.cache-delete.push" = "2023-05-20 12:24:01 +0000";
        "com.apple.FileProvider.fpfs.telemetry" = "2023-05-20 21:15:10 +0000";
        "com.apple.FileProvider.maintenance.fpck-repair" = "2023-05-19 21:14:43 +0000";
        "com.apple.GeoServices.UpdateExperiment" = "2023-05-31 00:19:39 +0000";
        "com.apple.GeoServices.UpdateExperiment.Execute" = "2023-05-31 00:19:38 +0000";
        "com.apple.HMFoundation.Message.Dispatcher.Index" = "2023-05-31 01:35:11 +0000";
        "com.apple.IMAutomaticHistoryDeletionAgent" = "2023-05-30 15:18:49 +0000";
        "com.apple.IntlPreferences.analytics" = "2023-05-30 17:54:29 +0000";
        "com.apple.KeyValueService.EndToEndEncrypted.Production.Private.sync" = "2023-05-09 16:14:40 +0000";
        "com.apple.KeyValueService.Production.Private.sync" = "2023-05-30 18:05:42 +0000";
        "com.apple.KeyboardServices.TextReplacementCKSyncTask" = "2023-05-30 18:49:30 +0000";
        "com.apple.Maps.mapspushd.launchForAnnouncements" = "2023-05-30 20:46:04 +0000";
        "com.apple.Maps.mapspushd.updateRAPSubmissionStatus" = "2023-05-19 21:16:29 +0000";
        "com.apple.ProtectedCloudStorage.fortnightly" = "2023-05-19 21:14:43 +0000";
        "com.apple.Safari.SafeBrowsing.BrowsingDatabases.Update" = "2023-05-25 14:16:59 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.BookmarkSyncNetworkConnectivity" = "2023-05-03 01:24:18 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.CloudSettingsZoneSubscriptionRegistration" = "2023-05-31 00:48:28 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.CloudTabGroupZoneSubscriptionRegistration" = "2023-05-31 00:48:29 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.CloudTabsZoneSubscriptionRegistration" = "2023-05-31 00:48:27 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.TabCollectionMaintenance" = "2023-05-30 02:50:21 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.TabGroupSyncNetworkConnectivity" = "2023-05-06 15:48:49 +0000";
        "com.apple.SafariBookmarksSyncAgent.XPC.ZoneSubscriptionRegistration" = "2023-05-20 12:30:02 +0000";
        "com.apple.SafariShared.WBSPeriodicActivityScheduler" = "2023-05-30 22:47:57 +0000";
        "com.apple.ScreenTimeAgent.activity.CoreAnalytics" = "2023-05-29 21:24:21 +0000";
        "com.apple.ScreenTimeAgent.activity.clean-up-expired-store-items" = "2023-05-21 09:20:25 +0000";
        "com.apple.ScreenTimeAgent.activity.fail-stuck-sent-messages" = "2023-05-24 16:28:51 +0000";
        "com.apple.ScreenTimeAgent.activity.hourly-usage-rollup" = "2023-05-21 03:23:55 +0000";
        "com.apple.ScreenTimeAgent.activity.retry-failed-messages" = "2023-05-22 22:47:41 +0000";
        "com.apple.ScreenTimeAgent.app-discovery" = "2023-05-30 15:38:16 +0000";
        "com.apple.UsageTrackingAgent.activity.reset-device-activity-alarms" = "2023-05-20 12:25:15 +0000";
        "com.apple.UsageTrackingAgent.activity.uncategorized-web-usage" = "2023-05-30 09:25:17 +0000";
        "com.apple.XProtect.PluginService.agent.fast.scan" = "2023-05-30 17:25:42 +0000";
        "com.apple.XProtect.PluginService.agent.scan" = "2023-05-30 18:54:31 +0000";
        "com.apple.XProtect.PluginService.agent.slow.scan" = "2023-05-28 04:24:43 +0000";
        "com.apple.accounts.cleanup" = "2023-05-03 01:50:27 +0000";
        "com.apple.ak.hb" = "2023-05-30 15:18:49 +0000";
        "com.apple.ak.listupdate" = "2023-05-30 15:18:49 +0000";
        "com.apple.ak.postinstall" = "2023-04-13 17:34:16 +0000";
        "com.apple.amsaccountsd.refresh" = "2023-05-30 22:18:46 +0000";
        "com.apple.amsengagementd.daily" = "2023-05-30 15:18:49 +0000";
        "com.apple.ap.adprivacyd.reconcile" = "2023-05-06 18:10:26 +0000";
        "com.apple.ap.promotedcontentd.gc" = "2023-05-29 12:23:52 +0000";
        "com.apple.appleaccountd.custodian.invitationStatusCheck" = "2023-05-31 00:37:15 +0000";
        "com.apple.appleaccountd.trustedContacts.healthCheck" = "2023-05-27 12:37:03 +0000";
        "com.apple.appstored.ArcadePostPO" = "2023-05-30 17:42:06 +0000";
        "com.apple.appstored.ArcadePostSummary" = "2023-05-30 17:42:06 +0000";
        "com.apple.appstored.AutoUpdates" = "2023-05-30 21:16:26 +0000";
        "com.apple.appstored.CacheDeleteUpdate" = "2023-05-31 06:42:18 +0000";
        "com.apple.appstored.Daily" = "2023-05-30 15:20:31 +0000";
        "com.apple.appstored.PostAnalytics" = "2023-05-30 23:47:33 +0000";
        "com.apple.appstored.Sbsync" = "2023-05-30 19:20:04 +0000";
        "com.apple.biome.prune-expired-events" = "2023-05-29 21:14:44 +0000";
        "com.apple.biomesyncd.metrics-collection" = "2023-05-30 15:18:49 +0000";
        "com.apple.biomesyncd.periodic-sync" = "2023-05-31 02:29:38 +0000";
        "com.apple.bird.analytics-report" = "2023-04-13 17:34:16 +0000";
        "com.apple.bird.app-telemetry" = "2023-04-13 17:34:16 +0000";
        "com.apple.bird.cache-delete.push" = "2023-05-30 06:50:03 +0000";
        "com.apple.bird.configuration-server-update" = "2023-05-29 21:14:51 +0000";
        "com.apple.bird.db-integrity-check" = "2023-05-29 21:14:51 +0000";
        "com.apple.bird.stage.gc" = "2023-05-31 00:44:58 +0000";
        "com.apple.bird.sync" = "2023-05-30 21:47:27 +0000";
        "com.apple.bird.transmogrify" = "2023-05-29 12:23:56 +0000";
        "com.apple.calendar.AlarmScan" = "2023-05-31 01:46:57 +0000";
        "com.apple.calendar.biDailyWork" = "2023-05-29 21:16:26 +0000";
        "com.apple.calendar.dailyWork" = "2023-05-29 21:16:26 +0000";
        "com.apple.cloudkit.assetHandleExpiration" = "2023-05-31 00:44:53 +0000";
        "com.apple.cloudkit.operationInfoCacheEviction" = "2023-05-29 21:14:53 +0000";
        "com.apple.cloudkit.packageGarbageCollection" = "2023-05-31 01:29:48 +0000";
        "com.apple.cloudkit.pcs.sqlcache.evict" = "2023-05-31 00:45:31 +0000";
        "com.apple.cloudkit.recordCachePool.expireRecords" = "2023-05-29 21:16:26 +0000";
        "com.apple.cloudkit.tokenregistration" = "2023-05-28 12:23:56 +0000";
        "com.apple.cloudphotod.maintenance" = "2023-05-29 21:16:03 +0000";
        "com.apple.cloudphotod.sync.discretionary" = "2023-04-20 06:17:07 +0000";
        "com.apple.contactsd.analysis" = "2023-05-29 21:14:44 +0000";
        "com.apple.contextkit.mobileasset.check" = "2023-05-30 21:14:45 +0000";
        "com.apple.coredata.cloudkit.activity.export.2AE7DF76-C19B-482F-AFC3-43744A0BACC5" = "2023-05-14 23:08:27 +0000";
        "com.apple.coredata.cloudkit.activity.export.A839E3D4-0236-4A7C-B9B5-DA5819196D50" = "2023-05-30 17:42:06 +0000";
        "com.apple.coredata.cloudkit.activity.import.2AE7DF76-C19B-482F-AFC3-43744A0BACC5" = "2023-05-27 05:32:44 +0000";
        "com.apple.coredata.cloudkit.activity.import.A839E3D4-0236-4A7C-B9B5-DA5819196D50" = "2023-04-21 15:30:06 +0000";
        "com.apple.coreduet.knowledge-agent.people.refresh-cache" = "2023-05-30 20:39:45 +0000";
        "com.apple.coreduet.sync.triggered" = "2023-05-20 02:13:13 +0000";
        "com.apple.coreduet.sync.update-source-device-identifiers" = "2023-05-20 12:27:10 +0000";
        "com.apple.coreduetd.knowledge.user" = "2023-05-29 12:23:52 +0000";
        "com.apple.corespotlightd.updateContacts" = "2023-05-29 21:14:44 +0000";
        "com.apple.devicecheck.notify" = "2023-05-30 15:28:05 +0000";
        "com.apple.email.ConversationDailyExporter" = "2023-05-29 21:16:34 +0000";
        "com.apple.email.ConversationPruning" = "2023-05-29 21:16:37 +0000";
        "com.apple.email.EDRemoteContentManager.requestScheduler" = "2023-05-20 12:24:05 +0000";
        "com.apple.email.EDRemoteContentPersistence.analyticsScheduler" = "2023-05-29 21:16:34 +0000";
        "com.apple.email.interaction-log.submit-pet" = "2023-05-30 15:20:48 +0000";
        "com.apple.email.searchableIndex.scheduler.budgeted" = "2023-05-31 05:42:28 +0000";
        "com.apple.email.searchableIndex.scheduler.maintenance" = "2023-05-29 15:16:39 +0000";
        "com.apple.email.spotlightVerification" = "2023-05-30 22:59:37 +0000";
        "com.apple.exchange.exchangesyncd.accountauthupgrader" = "2023-05-28 15:28:05 +0000";
        "com.apple.exchangesyncd.activity.maintenance" = "2023-05-31 01:29:48 +0000";
        "com.apple.family.heartbeat" = "2023-05-27 15:36:11 +0000";
        "com.apple.geo.analytics" = "2023-05-31 00:43:38 +0000";
        "com.apple.geo.ma.resource.server" = "2023-05-30 11:44:50 +0000";
        "com.apple.geod.updateNetworkDefaults" = "2023-05-31 03:37:56 +0000";
        "com.apple.homed.HMDMobileAssetManager.BackgroundActivityScheduler" = "2023-05-20 21:14:46 +0000";
        "com.apple.homed.logEvent.dailyScheduler" = "2023-05-30 15:18:56 +0000";
        "com.apple.iCal.APSSubscriptionRefresh.x-coredata://D6DAEF13-8E87-4F07-9236-F71A6601456B/CalDAVPrincipal/p9" = "2023-05-30 17:42:01 +0000";
        "com.apple.ical.sync.x-coredata://D6DAEF13-8E87-4F07-9236-F71A6601456B/CalDAVPrincipal/p14" = "2023-05-31 01:49:09 +0000";
        "com.apple.ical.sync.x-coredata://D6DAEF13-8E87-4F07-9236-F71A6601456B/CalDAVPrincipal/p23" = "2023-05-31 01:58:17 +0000";
        "com.apple.ical.sync.x-coredata://D6DAEF13-8E87-4F07-9236-F71A6601456B/CalDAVPrincipal/p9" = "2023-05-31 00:32:45 +0000";
        "com.apple.ical.sync.x-coredata://D6DAEF13-8E87-4F07-9236-F71A6601456B/ExchangePrincipal/p38" = "2023-05-31 02:03:13 +0000";
        "com.apple.icloud.fmfd.heartbeat" = "2023-05-27 18:38:03 +0000";
        "com.apple.icloud.fmfd.keep-alive-on-dirty" = "2023-05-30 19:49:43 +0000";
        "com.apple.icloud.searchpartyd.BeaconKeyManager" = "2023-05-30 15:52:35 +0000";
        "com.apple.icloud.searchpartyd.BeaconSharing" = "2023-05-31 13:57:23 +0000";
        "com.apple.icloud.searchpartyd.ProductInfoManager" = "2023-05-30 15:24:35 +0000";
        "com.apple.icloud.searchpartyd.prune.BeaconManagerService" = "2023-05-29 21:57:28 +0000";
        "com.apple.ids.key-transparency.verification" = "2023-05-29 21:14:48 +0000";
        "com.apple.ids.pds.maintenanceCheck" = "2023-05-29 13:13:59 +0000";
        "com.apple.ids.registrationaccountstatusmetric" = "2023-05-30 12:24:29 +0000";
        "com.apple.ind.cloudfeatures.reload" = "2023-05-30 16:10:54 +0000";
        "com.apple.ind.heartbeat" = "2023-04-13 17:37:05 +0000";
        "com.apple.itunescloud.ICDBackgroundTaskManager.periodic-poll-activity" = "2023-06-02 21:15:52 +0000";
        "com.apple.itunescloud.ICInAppMessageManager.periodic-poll-activity" = "2023-05-30 20:39:58 +0000";
        "com.apple.itunescloud.subscription_status_refresh" = "2023-05-30 15:18:52 +0000";
        "com.apple.knowledgestore.sync" = "2023-05-30 18:23:56 +0000";
        "com.apple.kvs.periodic-analytics" = "2023-05-29 21:14:47 +0000";
        "com.apple.mail.ApplicationRefresh" = "2023-05-30 15:49:43 +0000";
        "com.apple.mailsupport.downloadMobileAssetCatalog" = "2023-05-29 18:28:43 +0000";
        "com.apple.mbuseragent.expressupdate" = "2023-05-27 12:23:52 +0000";
        "com.apple.mediaanalysisd.fullanalysis" = "2023-05-30 18:16:23 +0000";
        "com.apple.mediaanalysisd.photos.face" = "2023-05-30 19:56:18 +0000";
        "com.apple.mediaanalysisd.photos.maintenance" = "2023-05-29 12:23:52 +0000";
        "com.apple.mediaanalysisd.photos.ocr" = "2023-05-30 19:58:10 +0000";
        "com.apple.mediaanalysisd.photos.visualsearch" = "2023-05-30 18:17:08 +0000";
        "com.apple.mediaanalysisd.photosanalysis" = "2023-05-30 19:56:39 +0000";
        "com.apple.mediaanalysisd.preheat" = "2023-05-20 12:23:51 +0000";
        "com.apple.messages.chatSyncing" = "2023-05-31 00:23:55 +0000";
        "com.apple.messages.ckMetricsLogging" = "2023-05-30 15:28:16 +0000";
        "com.apple.messages.messageSyncing" = "2023-05-29 06:49:30 +0000";
        "com.apple.messages.spotlightIndexing" = "2023-05-30 16:49:30 +0000";
        "com.apple.mlruntimed.xpc_activity-orchestra" = "2023-05-20 15:32:23 +0000";
        "com.apple.ndoagent.boot" = "2023-05-20 12:31:04 +0000";
        "com.apple.ndoagent.outreach" = "2023-05-08 15:22:24 +0000";
        "com.apple.networkserviceproxy.metadata-refresh-12h" = "2023-05-31 00:23:52 +0000";
        "com.apple.networkserviceproxy.metadata-refresh-22h" = "2023-05-30 03:19:09 +0000";
        "com.apple.networkserviceproxy.publish-daily-stats" = "2023-05-30 15:18:49 +0000";
        "com.apple.noticeboard.update" = "2023-05-30 18:15:44 +0000";
        "com.apple.osanalytics.submissions.cleanup" = "2023-05-29 21:14:44 +0000";
        "com.apple.osanalytics.submissions.submit" = "2023-05-30 11:58:01 +0000";
        "com.apple.osanalytics.submissions.submit-permissive" = "2023-05-29 21:27:24 +0000";
        "com.apple.parsec-fbf.cleanup" = "2023-05-30 15:55:29 +0000";
        "com.apple.parsec-fbf.flush" = "2023-05-31 02:13:42 +0000";
        "com.apple.photoanalysisd.backgroundanalysis" = "2023-05-30 19:54:54 +0000";
        "com.apple.photolibraryd.backgroundjobservice.mediumpriority" = "2023-04-20 05:15:55 +0000";
        "com.apple.photolibraryd.backgroundjobservice.verylowpriority" = "2023-04-20 12:53:32 +0000";
        "com.apple.photolibraryd.curatedlibraryprocessing" = "2023-05-30 17:54:09 +0000";
        "com.apple.photolibraryd.periodicmaintenance" = "2023-05-29 12:23:55 +0000";
        "com.apple.proactive.PersonalIntelligence.PersonalIntelligenceMetrics" = "2023-05-29 21:14:49 +0000";
        "com.apple.proactive.PersonalizationPortrait.ClientLinkStatus" = "2023-05-27 12:24:56 +0000";
        "com.apple.proactive.PersonalizationPortrait.ContactHandlesCache" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.ContactsImport" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.CoreRoutineImport" = "2023-05-29 21:16:06 +0000";
        "com.apple.proactive.PersonalizationPortrait.DailyMetricsLogging" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.DecayedFeedbackCleanup" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.DecayedFeedbackCountsDecay" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.EventKitImport" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.ExpiredLinkReview" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.FeedbackProcessing" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.FeedbackStreamReviewed" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.LinkStatusGeneration" = "2023-05-27 12:24:04 +0000";
        "com.apple.proactive.PersonalizationPortrait.LogLocationPerplexity" = "2023-05-29 21:16:09 +0000";
        "com.apple.proactive.PersonalizationPortrait.LogNamedEntityFirstSource" = "2023-05-27 12:24:56 +0000";
        "com.apple.proactive.PersonalizationPortrait.LogNamedEntityPerplexity" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.LogTopicFirstSource" = "2023-05-27 12:24:56 +0000";
        "com.apple.proactive.PersonalizationPortrait.LogTopicPerplexity" = "2023-05-29 21:16:09 +0000";
        "com.apple.proactive.PersonalizationPortrait.MapsImport" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.NamedEntityFiltering" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.NamedEntityImport" = "2023-05-29 12:24:06 +0000";
        "com.apple.proactive.PersonalizationPortrait.NamedEntityRepairAndExport" = "2023-05-29 12:24:54 +0000";
        "com.apple.proactive.PersonalizationPortrait.OptimizeDatabase" = "2023-05-29 21:16:25 +0000";
        "com.apple.proactive.PersonalizationPortrait.RTCSendLogs" = "2023-05-29 21:16:07 +0000";
        "com.apple.proactive.PersonalizationPortrait.RemotelyDonatedRecordCleanup" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.SocialHighlightFeedbackCleanUp" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.SocialHighlightSettingsCollection" = "2023-05-29 21:16:09 +0000";
        "com.apple.proactive.PersonalizationPortrait.SpotlightScoringCache" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.TTLBasedDonationCleanup" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.TTLBasedFeedbackRecordCleanup" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.TopicImport" = "2023-05-29 12:24:54 +0000";
        "com.apple.proactive.PersonalizationPortrait.TopicRepairAndExport" = "2023-05-29 12:24:56 +0000";
        "com.apple.proactive.PersonalizationPortrait.UnsupportedClient" = "2023-05-29 21:16:26 +0000";
        "com.apple.proactive.PersonalizationPortrait.VacuumDatabase" = "2023-05-27 12:24:52 +0000";
        "com.apple.proactive.ProactiveHarvesting.Cleanup" = "2023-05-29 21:16:07 +0000";
        "com.apple.proactive.ProactiveHarvesting.Harvest" = "2023-04-13 17:34:16 +0000";
        "com.apple.proactive.ProactiveHarvesting.Harvest.PeriodicBackground" = "2023-05-30 06:53:11 +0000";
        "com.apple.proactived.contextualactions.training" = "2023-05-29 21:14:44 +0000";
        "com.apple.proactiveeventtrackerd.mapreduce.heartbeat" = "2023-05-31 01:02:13 +0000";
        "com.apple.proactiveeventtrackerd.sendDaily" = "2023-05-29 21:14:44 +0000";
        "com.apple.proactiveeventtrackerd.updateAssetMetadata" = "2023-05-30 11:59:49 +0000";
        "com.apple.proactiveinsights.submission" = "2023-05-29 12:23:52 +0000";
        "com.apple.quicklook.cloudThumbnailDatabaseCleanup" = "2023-05-29 21:14:44 +0000";
        "com.apple.remindd.ICCloudConfigurationUpdater" = "2023-05-30 13:43:36 +0000";
        "com.apple.remindd.RDExtraneousAlarmCleaner" = "2023-05-30 19:09:58 +0000";
        "com.apple.remindd.RDHousekeepingActivityScheduler" = "2023-05-30 12:49:39 +0000";
        "com.apple.routined.assets" = "2023-05-29 21:14:50 +0000";
        "com.apple.routined.learnedLocationEngine.train" = "2023-05-30 16:54:03 +0000";
        "com.apple.routined.locationAwareness.heartbeat" = "2023-05-31 01:23:56 +0000";
        "com.apple.routined.metrics.daily" = "2023-05-30 15:28:19 +0000";
        "com.apple.routined.persistence.mirroring.background" = "2023-05-30 00:53:25 +0000";
        "com.apple.routined.persistence.mirroring.backup" = "2023-04-13 17:34:55 +0000";
        "com.apple.routined.purge" = "2023-05-29 12:24:53 +0000";
        "com.apple.safarishared.WBSParsecDSession.autoFillDataUpdate" = "2023-04-04 17:37:02 +0000";
        "com.apple.searchd.expirations" = "2023-05-29 21:14:44 +0000";
        "com.apple.searchd.expirations.AB" = "2023-05-29 21:14:44 +0000";
        "com.apple.searchparty.BeaconStore.Analytics" = "2023-05-29 21:16:38 +0000";
        "com.apple.securityd.daily" = "2023-05-30 15:18:49 +0000";
        "com.apple.securityd.entropyhealth" = "2023-05-30 15:18:49 +0000";
        "com.apple.securityd.prng" = "2023-05-31 01:14:50 +0000";
        "com.apple.securityuploadd.triggerupload" = "2023-05-30 12:24:33 +0000";
        "com.apple.silhouette.compute" = "2023-05-29 21:14:44 +0000";
        "com.apple.siri.vocabulary.indexMaintenance" = "2023-05-20 21:14:47 +0000";
        "com.apple.siri.xpc_activity.cloudkitsync.weekly" = "2023-05-26 21:14:51 +0000";
        "com.apple.siri.xpc_activity.context-collector-reelection" = "2023-05-29 21:14:51 +0000";
        "com.apple.siri.xpc_activity.heartbeat" = "2023-05-29 21:14:51 +0000";
        "com.apple.siri.xpc_activity.media-indexer" = "2023-05-29 21:14:51 +0000";
        "com.apple.siri.xpc_activity.metrics-sender" = "2023-05-29 21:14:51 +0000";
        "com.apple.siri.xpc_activity.refresh_validation" = "2023-05-29 15:24:44 +0000";
        "com.apple.siri.xpc_activity.service_maintenance" = "2023-05-29 21:14:50 +0000";
        "com.apple.siri.xpc_activity.speech-audio-sample-delete" = "2023-05-29 21:14:51 +0000";
        "com.apple.siri.xpc_activity.speech-audio-sampled" = "2023-05-29 21:14:51 +0000";
        "com.apple.siri.xpc_activity.sync.daily" = "2023-05-30 15:29:22 +0000";
        "com.apple.siri.xpc_activity.sync.now" = "2023-05-19 21:20:22 +0000";
        "com.apple.siriactionsd.RemoteQuarantineUpdate" = "2023-05-30 15:45:39 +0000";
        "com.apple.siriactionsd.ShortcutsDailyMetricCheckIn" = "2023-05-30 21:47:10 +0000";
        "com.apple.siriactionsd.ShortcutsWeeklyMetricCheckIn" = "2023-05-29 21:14:44 +0000";
        "com.apple.speech.synthesizer.VoiceResources.refresh" = "2023-04-13 00:57:17 +0000";
        "com.apple.spotlight.modelUpdating" = "2023-05-29 21:16:08 +0000";
        "com.apple.spotlight.sendmlfeedback" = "2023-05-30 15:19:29 +0000";
        "com.apple.statuskit.maintenance" = "2023-05-29 21:16:32 +0000";
        "com.apple.suggestd.cd-cache-rebuild" = "2023-05-29 12:23:52 +0000";
        "com.apple.suggestd.harvested-url-metric-upload" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestd.identityanalysis" = "2023-05-29 12:23:52 +0000";
        "com.apple.suggestd.ma-metadata-download" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestd.mail-intelligence-tasks" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestd.phone-qr-engagement-data-recording" = "2023-05-20 21:14:43 +0000";
        "com.apple.suggestd.process-pending-geocodes" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestd.process-pending-verification" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestd.sendrtc" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestd.trim" = "2023-05-28 12:23:52 +0000";
        "com.apple.suggestd.vacuum" = "2023-05-29 21:14:44 +0000";
        "com.apple.suggestions.collectweeklystats" = "2023-05-27 12:23:52 +0000";
        "com.apple.suggestions.sqlentitystore.cacheprecomputation" = "2023-05-29 12:23:52 +0000";
        "com.apple.syncdefaultsd" = "2023-05-30 21:45:58 +0000";
        "com.apple.telephonyutilities.callservicesd.csdvoipapplicationcontroller.daily" = "2023-05-29 12:21:39 +0000";
        "com.apple.tipsd.analytics-maintenance" = "2023-05-29 21:14:44 +0000";
        "com.apple.tipsd.update-content" = "2023-05-30 21:44:53 +0000";
        "com.apple.transparencyd.dutycycle" = "2023-05-30 20:23:52 +0000";
        "com.apple.triald.cellular" = "2023-05-28 21:28:50 +0000";
        "com.apple.triald.fetch-experiments" = "2023-05-29 21:14:44 +0000";
        "com.apple.triald.recurrent-rollback.cellular" = "2023-05-17 17:43:14 +0000";
        "com.apple.triald.retries-networking" = "2023-05-15 17:50:45 +0000";
    };
    ProductBuildVersion = 21F79;
    VersionSpecificActivitiesRun =     (
        "com.apple.icloud.searchpartyuseragent.post-install",
        "com.apple.siri.vocabulary.postInstallMigration",
        "com.apple.siri.xpc_activity.siri-vocabulary-migration",
        "com.apple.photolibraryd.syndication",
        "com.apple.ak.postinstall",
        "com.apple.biome.update-device-metadata",
        "com.apple.siri.xpc_activity.logviewer-identifier-defaults-write",
        "com.apple.messages.spotlightMigration",
        "com.apple.cs.postinstall",
        "com.apple.triald.post-upgrade",
        "com.apple.ndoagent.upgrade",
        "com.apple.avatar.activity.PostInstallMigration",
        "com.apple.triald.post-upgrade-require-inexpensive-networking",
        "com.apple.tipsd.postInstall-utility",
        "com.apple.tipsd.welcome.followup",
        "com.apple.routined.persistence.mirroring.post-install"
    );
}
