{
    kLocalPasteboardBlobName = "/var/folders/6s/l__2l3s91vd38k373256987w0000gn/T/com.apple.useractivityd/shared-pasteboard/AA8AC194-4B2F-4F08-9D3C-9D6F4EEAD551";
    kRemotePasteboardBlobName = "/var/folders/6s/l__2l3s91vd38k373256987w0000gn/T/com.apple.useractivityd/shared-pasteboard/C85377A1-154C-4B2E-83F9-3E6FD7E7A6DD";
}
