{
    FXArrangeGroupViewBy = Name;
    FXPreferredSearchViewStyleVersion = "%00%00%00%01";
    FXRecentFolders =     (
                {
            "file-bookmark" = {length = 628, bytes = 0x626f6f6b 74020000 00000410 30000000 ... 04000000 00000000 };
            name = adautoguedes;
        },
                {
            "file-bookmark" = {length = 816, bytes = 0x626f6f6b 30030000 00000410 30000000 ... 04000000 00000000 };
            name = Recents;
        },
                {
            "file-bookmark" = {length = 712, bytes = 0x626f6f6b c8020000 00000410 30000000 ... 04000000 00000000 };
            name = Preferences;
        },
                {
            "file-bookmark" = {length = 668, bytes = 0x626f6f6b 9c020000 00000410 30000000 ... 04000000 00000000 };
            name = Library;
        },
                {
            "file-bookmark" = {length = 668, bytes = 0x626f6f6b 9c020000 00000410 30000000 ... 04000000 00000000 };
            name = Desktop;
        },
                {
            "file-bookmark" = {length = 672, bytes = 0x626f6f6b a0020000 00000410 30000000 ... 04000000 00000000 };
            name = Downloads;
        },
                {
            "file-bookmark" = {length = 740, bytes = 0x626f6f6b e4020000 00000410 30000000 ... 04000000 00000000 };
            name = "GameDev.tv Game Jam Starter Kit V2";
        },
                {
            "file-bookmark" = {length = 896, bytes = 0x626f6f6b 80030000 00000410 30000000 ... 04000000 00000000 };
            name = web;
        },
                {
            "file-bookmark" = {length = 672, bytes = 0x626f6f6b a0020000 00000410 30000000 ... 04000000 00000000 };
            name = Documents;
        },
                {
            "file-bookmark" = {length = 844, bytes = 0x626f6f6b 4c030000 00000410 30000000 ... 04000000 00000000 };
            name = builds;
        }
    );
    FXToolbarUpgradedToTenEight = 1;
    FXToolbarUpgradedToTenNine = 2;
    FXToolbarUpgradedToTenSeven = 1;
    "NSToolbar Configuration Browser" =     {
        "TB Display Mode" = 2;
        "TB Icon Size Mode" = 1;
        "TB Is Shown" = 1;
        "TB Size Mode" = 1;
    };
    RecentsArrangeGroupViewBy = "Date Last Opened";
    SearchRecentsSavedViewStyleVersion = "%00%00%00%01";
    SearchRecentsViewSettings =     {
        ExtendedListViewSettingsV2 =         {
            calculateAllSizes = 0;
            columns =             (
                                {
                    ascending = 1;
                    identifier = name;
                    visible = 1;
                    width = 268;
                },
                                {
                    ascending = 0;
                    identifier = ubiquity;
                    visible = 0;
                    width = 35;
                },
                                {
                    ascending = 0;
                    identifier = dateModified;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = dateCreated;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = size;
                    visible = 0;
                    width = 97;
                },
                                {
                    ascending = 1;
                    identifier = kind;
                    visible = 1;
                    width = 115;
                },
                                {
                    ascending = 1;
                    identifier = label;
                    visible = 0;
                    width = 100;
                },
                                {
                    ascending = 1;
                    identifier = version;
                    visible = 0;
                    width = 75;
                },
                                {
                    ascending = 1;
                    identifier = comments;
                    visible = 0;
                    width = 300;
                },
                                {
                    ascending = 0;
                    identifier = dateLastOpened;
                    visible = 1;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareOwner;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = shareLastEditor;
                    visible = 0;
                    width = 200;
                },
                                {
                    ascending = 0;
                    identifier = dateAdded;
                    visible = 0;
                    width = 181;
                },
                                {
                    ascending = 0;
                    identifier = invitationStatus;
                    visible = 0;
                    width = 210;
                }
            );
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = dateLastOpened;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        ListViewSettings =         {
            calculateAllSizes = 0;
            columns =             {
                comments =                 {
                    ascending = 1;
                    index = 7;
                    visible = 0;
                    width = 300;
                };
                dateCreated =                 {
                    ascending = 0;
                    index = 2;
                    visible = 0;
                    width = 181;
                };
                dateLastOpened =                 {
                    ascending = 0;
                    index = 8;
                    visible = 1;
                    width = 200;
                };
                dateModified =                 {
                    ascending = 0;
                    index = 1;
                    visible = 0;
                    width = 181;
                };
                kind =                 {
                    ascending = 1;
                    index = 4;
                    visible = 1;
                    width = 115;
                };
                label =                 {
                    ascending = 1;
                    index = 5;
                    visible = 0;
                    width = 100;
                };
                name =                 {
                    ascending = 1;
                    index = 0;
                    visible = 1;
                    width = 268;
                };
                size =                 {
                    ascending = 0;
                    index = 3;
                    visible = 0;
                    width = 97;
                };
                version =                 {
                    ascending = 1;
                    index = 6;
                    visible = 0;
                    width = 75;
                };
            };
            iconSize = 16;
            showIconPreview = 1;
            sortColumn = dateLastOpened;
            textSize = 13;
            useRelativeDates = 1;
            viewOptionsVersion = 1;
        };
        WindowState =         {
            ContainerShowSidebar = 1;
            ShowSidebar = 1;
            ShowStatusBar = 0;
            ShowTabView = 0;
            ShowToolbar = 1;
            WindowBounds = "{{168, 602}, {1187, 444}}";
        };
    };
    SearchViewSettings =     {
        IconViewSettings =         {
            arrangeBy = name;
            backgroundColorBlue = 1;
            backgroundColorGreen = 1;
            backgroundColorRed = 1;
            backgroundType = 0;
            gridOffsetX = 0;
            gridOffsetY = 0;
            gridSpacing = 54;
            iconSize = 512;
            labelOnBottom = 1;
            showIconPreview = 1;
            showItemInfo = 0;
            textSize = 12;
            viewOptionsVersion = 1;
        };
    };
    "_FXShowPosixPathInTitle" = 0;
}
