{
    AXHearingAidPaired = 0;
    AXSClassicInvertColorsPreference = 0;
    AccessibilityEnabled = 0;
    ApplicationAccessibilityEnabled = 0;
    AutomationEnabled = 0;
    BrailleInputDeviceConnected = 0;
    CommandAndControlEnabled = 0;
    DarkenSystemColors = 0;
    DifferentiateWithoutColor = 0;
    EnhancedBackgroundContrastEnabled = 0;
    FullKeyboardAccessEnabled = 0;
    FullKeyboardAccessFocusRingEnabled = 1;
    GenericAccessibilityClientEnabled = 0;
    InvertColorsEnabled = 0;
    KeyRepeatDelay = "1.133333333";
    KeyRepeatEnabled = 1;
    KeyRepeatInterval = "0.03333333299999999";
    ReduceMotionEnabled = 0;
    SpeakThisEnabled = 0;
    VoiceOverTouchEnabled = 0;
}
