{
    "/Applications/Alfred 4.app" = 1;
    "/Applications/Alfred 4.app/Contents/MacOS/Alfred" = 1;
    "/Applications/CheatSheet.app" = 1;
    "/Applications/CheatSheet.app/Contents/MacOS/CheatSheet" = 1;
    "/private/var/folders/6s/l__2l3s91vd38k373256987w0000gn/T/AppTranslocation/5088931B-5C58-4CF7-964C-9BAD98CDE966/d/Scroll Reverser.app/Contents/MacOS/Scroll Reverser" = 1;
    "/var/folders/6s/l__2l3s91vd38k373256987w0000gn/T/AppTranslocation/5088931B-5C58-4CF7-964C-9BAD98CDE966/d/Scroll Reverser.app" = 1;
    "1::/Applications/Dropzone 4.app" = 1;
    "1::/Applications/Dropzone 4.app/Contents/MacOS/Dropzone 4" = 1;
    "1::/Applications/Steam.app" = 1;
    "1::/Applications/Steam.app/Contents/MacOS/steam_osx" = 1;
    "1::/Applications/WhatsApp.app" = 1;
    "1::/Applications/WhatsApp.app/Contents/MacOS/WhatsApp" = 1;
    "1::com.aptonic.Dropzone4" = 1;
    "1::com.valvesoftware.steam" = 1;
    "1::desktop.WhatsApp" = 1;
    "2::/Applications/CheatSheet.app" = 1;
    "2::/Applications/CheatSheet.app/Contents/MacOS/CheatSheet" = 1;
    "2::/Applications/Discord.app" = 1;
    "2::/Applications/Discord.app/Contents/MacOS/Discord" = 1;
    "2::/Applications/LICEcap.app" = 1;
    "2::/Applications/LICEcap.app/Contents/MacOS/licecap" = 1;
    "2::com.cockos.LICEcap" = 1;
    "2::com.hnc.Discord" = 1;
    "2::com.mediaatelier.CheatSheet" = 1;
    "3::/Applications/Adobe Photoshop 2022/Adobe Photoshop 2022.app" = 1;
    "3::/Applications/Adobe Photoshop 2022/Adobe Photoshop 2022.app/Contents/MacOS/Adobe Photoshop 2022" = 1;
    "3::/Applications/Discord.app" = 1;
    "3::/Applications/Discord.app/Contents/MacOS/Discord" = 1;
    "3::/Applications/Google Chrome.app" = 1;
    "3::/Applications/Google Chrome.app/Contents/MacOS/Google Chrome" = 1;
    "3::/Applications/LICEcap.app" = 1;
    "3::/Applications/LICEcap.app/Contents/MacOS/licecap" = 1;
    "3::/Applications/Slack.app" = 1;
    "3::/Applications/Slack.app/Contents/MacOS/Slack" = 1;
    "3::/Applications/Unity Hub.app" = 1;
    "3::/Applications/Unity Hub.app/Contents/MacOS/Unity Hub" = 1;
    "3::/Applications/zoom.us.app" = 1;
    "3::/Applications/zoom.us.app/Contents/MacOS/zoom.us" = 1;
    "3::com.adobe.Photoshop" = 1;
    "3::com.cockos.LICEcap" = 1;
    "3::com.google.Chrome" = 1;
    "3::com.hnc.Discord" = 1;
    "3::com.tinyspeck.slackmacgap" = 1;
    "3::com.unity3d.unityhub" = 1;
    "3::us.zoom.xos" = 1;
    "com.mediaatelier.CheatSheet" = 1;
    "com.pilotmoon.scroll-reverser" = 1;
    "com.runningwithcrayons.Alfred" = 1;
}
