{
    CachedVCCaps = 17592188010496;
    GondolaGeneratedIdentifier = "1CCDDB85-9EAD-415C-84C5-E75E65F2A268";
    GondolaLastAccountsChangedState = 1;
    GondolaLatestVersion = 16;
    GondolaSyncedVersion = 0;
    registeredProviders =     (
        {length = 132, bytes = 0x0a3b636f 6d2e6170 706c652e 74656c65 ... 48006803 68027801 },
        {length = 83, bytes = 0x0a17636f 6d2e6170 706c652e 636f7265 ... 08021204 23393131 }
    );
    registeredProvidersVersion = 1;
    thumperCallingCapabilitiesStates =     (
    );
}
