{
    FMIPGarbageCollectorIdentityKey = 10390736781;
    "FMIPLimitedPrecisionPrefKey.limitedPrecision" = 0;
    deviceImageVersion = 19;
    frontMostWindow = 1;
    itemLearnMoreURL = "https://support.apple.com/kb/HT211331?viewlocale=en_GB,EN";
    publicAPSToken = FB08AC5029A5AD8D8CED1484362E4A46669D1955D5A34F2579191C907655B4A2;
    windowVisible = 1;
}
