{
    DidSeeAccessibility = 1;
    DidSeeActivationLock = 1;
    DidSeeAppStore = 0;
    DidSeeAppearanceSetup = 1;
    DidSeeApplePaySetup = 0;
    DidSeeAvatarSetup = 0;
    DidSeeCloudSetup = 1;
    DidSeePrivacy = 1;
    DidSeeScreenTime = 1;
    DidSeeSiriSetup = 1;
    DidSeeSyncSetup = 0;
    DidSeeSyncSetup2 = 0;
    DidSeeTouchIDSetup = 1;
    DidSeeiCloudLoginForStorageServices = 1;
    LastPreLoginTasksPerformedBuild = 21F79;
    LastPreLoginTasksPerformedVersion = "12.4";
    LastPrivacyBundleVersion = 2;
    LastSeenBuddyBuildVersion = 21C52;
    LastSeenCloudProductVersion = "12.1";
    LastSeenDiagnosticsProductVersion = "12.1";
    LastSeenSiriProductVersion = "12.1";
    MiniBuddyLaunchReason = 0;
    MiniBuddyLaunchedPostMigration = 0;
    MiniBuddyShouldLaunchToResumeSetup = 0;
    NSAddServicesToContextMenus = 0;
    PreviousBuildVersion = 21E258;
    PreviousSystemVersion = "12.3.1";
    SkipExpressSettingsUpdating = 0;
    SkipFirstLoginOptimization = 0;
}
