{
    AlwaysKeys =     (
        "-ak|jpiszkIn6YkymEpbOYSNBX4SqZ",
        "-ak|2QQUBRCpyhyIUob5EpcBrFWb5s",
        "-ak|BrzPfZfegDXKBK+9lEjISiMUf7",
        ">KeyParameters",
        "-ak|t16BOVysM8vTPrXeG1FG3H9vhX",
        "dbg-Scope",
        "-ak|rR75ZG/3Tcr81FYfgYRetKyB0P",
        "-ak|Rnyx0q0GAJ5cyA2lii6F2MoyW6"
    );
    DSID = 10390736781;
    EnsurePeerRegistration = 0;
    FirstUnlockKeys =     (
    );
    KeyAccountUUID = "";
    PendingKeys =     (
    );
    SyncBackupPeerIDs =     (
    );
    SyncPeerIDs =     (
    );
    UnlockedKeys =     (
        "~PCS-Notes-tomb",
        "~BackupBagV0-tomb",
        "~PCS-Sharing-tomb",
        "~PCS-MasterKey-tomb",
        "~PCS-FDE-tomb",
        "~AccessoryPairing-tomb",
        "~PCS-Photos-tomb",
        "~PCS-iCloudDrive-tomb",
        "~OtherSyncable-tomb",
        "~PCS-Escrow-tomb",
        "~CreditCards-tomb",
        "~HomeKit-tomb",
        "~PCS-Feldspar-tomb",
        "ak|t16BOVysM8vTPrXeG1FG3H9vhX:rR75ZG/3Tcr81FYfgYRetKyB0P",
        "ak|BrzPfZfegDXKBK+9lEjISiMUf7:rR75ZG/3Tcr81FYfgYRetKyB0P",
        "~NanoRegistry-tomb",
        "~PCS-Maildrop-tomb",
        "~PCS-Backup-tomb",
        oak,
        "~Passwords-tomb",
        "~RecoveryRing",
        "~PCS-CloudKit-tomb",
        "~PCS-iMessage-tomb",
        "~WatchMigration-tomb",
        "~WiFi-tomb",
        "~AppleTV-tomb",
        "~ContinuityUnlock-tomb",
        "~iCloudIdentity-tomb"
    );
}
