{
    "__kCMFBlockListStoreTopLevelKey" =     {
        "__kCMFBlockListStoreArrayKey" =         (
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584999720824";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+558430347734";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+558430347614";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+558431941611";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584981445454";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "contato@atrasofaturaclaro.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "security@facebookmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "contato@faturausuario.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "support@the-investment-advisor.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "sandrascottojw5@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "deborahlewismuz0@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "rachelarietta7060315@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "dorothyandersonzvc4@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "almansour7170@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "kimberlykinguxd4@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "channel@yuwuwei.top";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "mariahernandezrqu8@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "mariamillerqjm2@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "mariamartinezlog7@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "jenniferperezfop8@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "info@it-tick.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "manager@hxl888.top";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "info@kbdrun.net";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "sarahcampbelllxn8@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "abhijit@zlineindia.in";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "laurathompsonuzs0@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "veldabeach4@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "help@offcloud.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "info@which.rptom.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "support@nicepeoplenews.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "sharoncarterdcg6@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "lindalewisnje5@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "lisadavismte6@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "nancycarterwvu0@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "michellejohnsonmbl4@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "florentinamanago6409704@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "barbaramartinxne5@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "ennamagur@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "ryemugilov@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "jalxunule@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+553030001343";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemEmailUnformattedKey" = "julianareichhardtagjlw@gmail.com";
                "__kCMFItemTypeKey" = 1;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584920012671";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584920012654";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584920012649";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5591982700001";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584905831853";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584984863959";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5584986273650";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+553121223600";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+558432167065";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            },
                        {
                "__kCMFItemPhoneNumberCountryCodeKey" = br;
                "__kCMFItemPhoneNumberUnformattedKey" = "+5561998301906";
                "__kCMFItemTypeKey" = 0;
                "__kCMFItemVersionKey" = 1;
            }
        );
        "__kCMFBlockListStoreRevisionKey" = 56;
        "__kCMFBlockListStoreRevisionTimestampKey" = "2023-05-18 22:49:26 +0000";
        "__kCMFBlockListStoreTypeKey" = "__kCMFBlockListStoreTypeValue";
        "__kCMFBlockListStoreVersionKey" = 1;
    };
}
