{
    CKMOCAccountsMatch = 1;
    CloudKitCheckedMiCSwitchEligibilityOnImagentLaunch = 1;
    CloudKitEligibleToToggleMiCSwitch = 1;
    CloudKitIsEligibleForTruthZone = 1;
    CloudKitIsRemovedFromBackup = 0;
    CloudKitSyncingEnabled = 0;
    IMCKRampState =     {
        FeatureAllowed = 1;
        FeaturePromoted = 0;
        FeatureVisible = 1;
        FetchHadServerError = 0;
    };
    IMCloudKitAccountStatusKey = 3;
    IMCloudKitStartingDisableDevices = 0;
    IMCloudKitStartingEnabledSettingChange = 0;
    IMCloudKitStartingInitialSync = 0;
    IMCloudKitStartingPeriodicSync = 0;
    IMCloudKitSyncControllerSyncRecordTypeKey = 0;
    IMCloudKitSyncControllerSyncStateKey = 0;
    IMCloudKitSyncControllerSyncTypeKey = 0;
    IMCloudKitSyncPaused = 0;
    initialSyncRecordHasBeenWritten = 1;
    oneTimeMOCAccountCheckV2 = 1;
}
