{
    AVTAvatarHasDisplayedAnimojiSplashScreen = 1;
    AVTAvatarHasDisplayedCameraEffectsSplashScreen = 1;
    AVTAvatarHasDisplayedPaddleView = 1;
    AVTAvatarHasDisplayedSplashScreen = 1;
    AVTAvatarUILastCacheVersion = 312500;
    AVTSyncImportDate = "2023-05-30 22:42:57 +0000";
    AVTUIGlobalPreferencesFlushStickersCache = 1;
}
