{
    ActivityBaseDates =     {
        "com.apple.AccessoryUpdater.UARP.periodicFirmwareCheck" = "2023-05-29 21:16:15 +0000";
        "com.apple.Bluetoooth.Analytics" = "2023-05-30 15:40:47 +0000";
        "com.apple.CoreAnalytics.2Hours" = "2023-05-30 23:38:47 +0000";
        "com.apple.CoreAnalytics.6Hours" = "2023-05-30 14:44:32 +0000";
        "com.apple.CoreAnalytics.Daily" = "2023-05-30 15:18:47 +0000";
        "com.apple.CoreBrightness.Analytics" = "2023-05-30 21:46:54 +0000";
        "com.apple.DifferentialPrivacy.DediscoReporter" = "2023-05-29 15:50:03 +0000";
        "com.apple.DifferentialPrivacy.PrioReporter" = "2023-05-29 15:50:03 +0000";
        "com.apple.DifferentialPrivacy.PrivacyBudgetMaintenance" = "2023-05-30 00:49:47 +0000";
        "com.apple.DifferentialPrivacy.ReportFilesMaintenance" = "2023-05-29 21:16:56 +0000";
        "com.apple.DifferentialPrivacy.ReportGenerator" = "2023-05-29 15:50:37 +0000";
        "com.apple.DifferentialPrivacy.StorageCulling" = "2023-05-29 21:16:56 +0000";
        "com.apple.DifferentialPrivacy.StorageMaintenance" = "2023-05-30 00:50:04 +0000";
        "com.apple.DifferentialPrivacy.runtimeBlacklistMaintenance" = "2023-05-29 21:16:56 +0000";
        "com.apple.DifferentialPrivacy.serverBlacklistUpdate" = "2023-05-29 21:16:56 +0000";
        "com.apple.MobileAccessoryUpdater.deviceIdleCheck" = "2023-05-08 15:18:56 +0000";
        "com.apple.MobileAccessoryUpdater.periodicFirmwareCheck" = "2023-05-28 21:16:16 +0000";
        "com.apple.OSUpdate.PeriodicAutoUpdateActions" = "2023-05-30 20:03:15 +0000";
        "com.apple.SUOSUScheduler.tonight.cancellation" = "2023-05-09 07:00:01 +0000";
        "com.apple.SoftwareUpdate.Activity" = "2023-05-30 20:46:04 +0000";
        "com.apple.SymptomFramework.MaintenanceActivity.Daily" = "2023-05-29 21:14:49 +0000";
        "com.apple.XProtect.PluginService.daemon.fast.scan" = "2023-05-30 17:25:49 +0000";
        "com.apple.XProtect.PluginService.daemon.scan" = "2023-05-30 19:52:01 +0000";
        "com.apple.XProtect.PluginService.daemon.slow.scan" = "2023-05-28 08:50:13 +0000";
        "com.apple.aned.danglingModelsGC" = "2023-05-29 21:15:52 +0000";
        "com.apple.aned.modelCacheGC" = "2023-05-29 21:15:52 +0000";
        "com.apple.aned.temporaryFilesMaintenance" = "2023-05-30 19:49:30 +0000";
        "com.apple.apfsd.ca_stats_report" = "2023-05-27 12:23:47 +0000";
        "com.apple.applessdbgrefresh.activity" = "2023-05-29 21:14:39 +0000";
        "com.apple.applessdnandcounters.activity" = "2023-05-29 21:14:39 +0000";
        "com.apple.applessdstatistics.activity" = "2023-05-29 21:14:39 +0000";
        "com.apple.appstored.AutoUpdates" = "2023-05-30 18:58:39 +0000";
        "com.apple.appstored.Daily" = "2023-05-30 18:58:39 +0000";
        "com.apple.backupd-auto" = "2023-05-31 00:14:48 +0000";
        "com.apple.backupd-auto.dryspell" = "2023-05-30 15:18:44 +0000";
        "com.apple.backupd-auto.dryspell.test" = "2023-04-13 17:34:12 +0000";
        "com.apple.batteryintelligenced.dailytask" = "2023-05-29 21:14:39 +0000";
        "com.apple.bluetoooth.CBMetrics" = "2023-05-31 01:48:57 +0000";
        "com.apple.cloudkit.assetHandleExpiration" = "2023-05-31 00:44:53 +0000";
        "com.apple.cloudkit.operationInfoCacheEviction" = "2023-05-29 21:24:13 +0000";
        "com.apple.cloudkit.packageGarbageCollection" = "2023-05-31 01:29:50 +0000";
        "com.apple.coreduetd.datacollection.task" = "2023-05-30 18:44:00 +0000";
        "com.apple.coreduetd.feedback.cna.task" = "2023-05-30 18:44:00 +0000";
        "com.apple.coreduetd.knowledge" = "2023-05-29 12:23:51 +0000";
        "com.apple.coreduetd.people" = "2023-05-30 16:49:47 +0000";
        "com.apple.corekdld.updateEvery24h" = "2023-05-31 00:44:57 +0000";
        "com.apple.das.matching,com.apple.UARPUpdaterServiceLegacyAudio,PeriodicLaunchActivity" = "2023-05-20 21:16:16 +0000";
        "com.apple.das.matching,com.apple.uarpupdaterservice.display,AppleDisplayTimer" = "2023-05-29 21:16:17 +0000";
        "com.apple.dasd.analyticsReporting" = "2023-05-29 21:14:43 +0000";
        "com.apple.dasd.dataCollection" = "2023-05-29 21:14:41 +0000";
        "com.apple.dasd.overdueCheck" = "2023-05-29 21:14:42 +0000";
        "com.apple.diagnosticpipeline.cloudkit_activity" = "2023-05-29 06:50:20 +0000";
        "com.apple.diagnosticpipeline.cloudkit_expedited_upload" = "2023-05-30 16:49:47 +0000";
        "com.apple.diagnosticpipeline.cloudkit_report_stats" = "2023-05-29 06:50:03 +0000";
        "com.apple.diagnosticpipeline.tasking_invalidation_activity" = "2023-05-29 21:14:39 +0000";
        "com.apple.family.heartbeat" = "2023-05-19 21:14:38 +0000";
        "com.apple.icloud.findmydeviced.keep-alive-on-dirty" = "2023-05-31 01:57:23 +0000";
        "com.apple.icloud.searchpartyd.SPBeaconManager.bluetoothd" = "2023-05-20 23:15:02 +0000";
        "com.apple.icloud.searchpartyd.activity.BeaconPayLoadPublish-onBatteryOnCell" = "2023-05-08 15:24:12 +0000";
        "com.apple.icloud.searchpartyd.prune.BeaconPayloadPublisher" = "2023-05-29 21:14:42 +0000";
        "com.apple.iomfb_bics_daemon" = "2023-05-31 21:14:39 +0000";
        "com.apple.locationd.MetricHeartbeat" = "2023-05-31 01:18:32 +0000";
        "com.apple.lskdd" = "2023-04-13 17:34:12 +0000";
        "com.apple.mDNSResponder.analytics.daily" = "2023-05-30 17:08:48 +0000";
        "com.apple.mds.repeatingHealthCheck" = "2023-05-19 21:14:38 +0000";
        "com.apple.mobile.keybagd.data-analytics" = "2023-05-29 21:14:42 +0000";
        "com.apple.mobileactivationd.DCRT.OOB" = "2023-04-13 17:34:11 +0000";
        "com.apple.mobileactivationd.UCRT.OOB" = "2023-04-13 17:34:11 +0000";
        "com.apple.mobileactivationd.splunklogging" = "2023-04-13 17:34:11 +0000";
        "com.apple.mobileactivationd.splunklogging.daily" = "2023-05-30 15:27:59 +0000";
        "com.apple.mobileassetd.metadata-update" = "2023-05-29 18:34:00 +0000";
        "com.apple.nand.aspcarry_tasking" = "2023-05-30 12:31:04 +0000";
        "com.apple.noticeboard.update" = "2023-05-19 21:14:38 +0000";
        "com.apple.online-auth-agent.check-indeterminates" = "2023-05-30 15:18:44 +0000";
        "com.apple.online-auth-agent.denylist-update" = "2023-05-29 21:14:39 +0000";
        "com.apple.periodic-daily" = "2023-05-29 21:14:39 +0000";
        "com.apple.periodic-monthly" = "2023-05-06 15:27:59 +0000";
        "com.apple.periodic-weekly" = "2023-05-26 21:14:39 +0000";
        "com.apple.powerdatad.3hourlyTask" = "2023-05-20 12:23:46 +0000";
        "com.apple.poweruiagent.pluginActivityCleanup" = "2023-05-29 21:14:39 +0000";
        "com.apple.poweruiagent.reportAnalyticsRepeating" = "2023-05-30 21:48:33 +0000";
        "com.apple.revisiond.CacheDelete.purgeable-xpc" = "2023-05-30 21:47:27 +0000";
        "com.apple.revisiond.requeue_chunking" = "2023-05-30 21:46:54 +0000";
        "com.apple.rtcreportingd:NRM" = "2023-05-29 04:42:39 +0000";
        "com.apple.rtcreportingd:PRT" = "2023-05-20 14:14:34 +0000";
        "com.apple.security.syspolicy.check.revocation" = "2023-05-28 21:14:39 +0000";
        "com.apple.security.syspolicy.find.bundles" = "2023-05-27 12:23:48 +0000";
        "com.apple.security.syspolicy.gatekeeper.policy-metrics" = "2023-05-26 12:23:49 +0000";
        "com.apple.security.syspolicy.invalidate" = "2023-05-29 21:14:39 +0000";
        "com.apple.security.syspolicy.kext.deprecation" = "2023-05-08 15:18:44 +0000";
        "com.apple.security.syspolicy.kext.mt" = "2023-05-29 05:34:08 +0000";
        "com.apple.security.syspolicy.legacypolicy" = "2023-05-30 19:08:48 +0000";
        "com.apple.security.syspolicy.measure" = "2023-05-26 12:23:48 +0000";
        "com.apple.security.syspolicy.rearm" = "2023-05-30 12:18:45 +0000";
        "com.apple.security.syspolicy.report" = "2023-05-30 09:14:39 +0000";
        "com.apple.signpost.signpost_reporter_activity" = "2023-05-29 07:00:16 +0000";
        "com.apple.softwareupdated.logs-cleanup" = "2023-05-30 17:45:30 +0000";
        "com.apple.systemstats.microstackshot_periodic" = "2023-05-30 18:27:46 +0000";
        "com.apple.thermalMonitor.1weekTask" = "2023-05-27 12:23:47 +0000";
        "com.apple.timezoneupdates.local-asset-check" = "2023-05-29 21:14:39 +0000";
        "com.apple.timezoneupdates.stale-data-cleanup" = "2023-05-19 21:14:38 +0000";
        "com.apple.typicalMemoryUseActivity" = "2023-05-30 12:23:47 +0000";
    };
    ProductBuildVersion = 21F79;
    VersionSpecificActivitiesRun =     (
        "com.apple.ak.postinstall"
    );
}
