{
    "Age:uuid:AVCVideoConference:" = "2023-05-23 14:10:06";
    "Age:uuid:AirPlaySender:" = "2022-11-07 21:05:14";
    "Age:uuid:MacAppStore:" = "2022-05-10 15:27:28";
    "Age:uuid:Photos:" = "2023-05-30 22:15:19";
    "Age:uuid:SoftwareUpdate:" = "2023-05-30 17:45:32";
    "Age:uuid:Suggestions:" = "2023-05-30 17:50:11";
    "Age:uuid:com.apple.C2ReportMetrics:" = "2023-05-30 22:14:10";
    "Age:uuid:com.apple.CA:" = "2022-05-20 00:10:55";
    "Age:uuid:com.apple.CoreAnalytics:" = "2023-05-30 06:34:27";
    "Age:uuid:com.apple.coreaudio:" = "2023-05-30 02:08:54";
    "Age:uuid:framework:" = "2023-05-30 17:30:41";
    "Age:uuid:home:" = "2023-05-26 02:14:02";
    "Age:uuid:multiwayconference:" = "2022-12-03 08:14:55";
    "Age:uuid:network-service-proxy-free:" = "2023-04-10 12:43:40";
    "Age:uuid:storage:" = "2023-05-23 18:24:17";
    "Age:uuid:telephonyutilities:" = "2023-05-27 12:10:22";
    "CACHED_avconference_Last-Modified" = "Mon, 15 May 2023 20:06:11 GMT";
    "CACHED_avconference_max-age" = 21600;
    "CACHED_ca_Last-Modified" = "Fri, 31 Mar 2023 17:52:45 GMT";
    "CACHED_ca_max-age" = 21600;
    "CACHED_cnet_Last-Modified" = "Mon, 27 Mar 2023 18:21:48 GMT";
    "CACHED_cnet_max-age" = 4997;
    "CACHED_coreaudio_Last-Modified" = "Fri, 24 Feb 2023 19:36:14 GMT";
    "CACHED_coreaudio_max-age" = 21600;
    "CACHED_coremedia_Last-Modified" = "Tue, 15 Nov 2022 17:11:06 GMT";
    "CACHED_coremedia_crabs_Last-Modified" = "Mon, 06 Mar 2023 20:53:45 GMT";
    "CACHED_coremedia_crabs_max-age" = 21600;
    "CACHED_coremedia_max-age" = 21600;
    "CACHED_homerel_Last-Modified" = "Fri, 17 Feb 2023 15:34:30 GMT";
    "CACHED_homerel_max-age" = 21600;
    "CACHED_jot_Last-Modified" = "Tue, 19 Apr 2022 21:11:48 GMT";
    "CACHED_jot_max-age" = 21600;
    "CACHED_nimbus_Last-Modified" = "Fri, 26 May 2023 14:55:24 GMT";
    "CACHED_nimbus_max-age" = 21600;
    "CACHED_osxanalytics_Last-Modified" = "Tue, 19 Apr 2022 21:11:48 GMT";
    "CACHED_osxanalytics_max-age" = 21600;
    "CACHED_reflection_Last-Modified" = "Tue, 19 Apr 2022 21:11:48 GMT";
    "CACHED_reflection_max-age" = 21600;
    "CACHED_storage_Last-Modified" = "Tue, 19 Apr 2022 21:11:49 GMT";
    "CACHED_storage_max-age" = 21600;
    "CACHED_suggestions_Last-Modified" = "Tue, 19 Apr 2022 21:11:49 GMT";
    "CACHED_suggestions_max-age" = 21600;
    "CACHED_tu_Last-Modified" = "Wed, 08 Jun 2022 23:52:28 GMT";
    "CACHED_tu_max-age" = 21600;
    "CACHED_wings_Last-Modified" = "Tue, 03 May 2022 17:35:19 GMT";
    "CACHED_wings_max-age" = 21600;
    "Last-Successfully-Reported-At" = "2023-05-30 21:38:25 +0000";
    "uuid:AVCVideoConference:" = "53DB38DB-C4E6-4BC6-A31B-FEFF277CB907";
    "uuid:AirPlaySender:" = "FA5C484D-CBA6-46DB-89BD-125C8920FA3A";
    "uuid:MacAppStore:" = "6257FBF3-03BD-4ED3-A615-827B57578013";
    "uuid:Photos:" = "1C4648D9-B995-43EF-8BD0-E6537F40FD0E";
    "uuid:SoftwareUpdate:" = "ECE61DD4-0275-4F6D-8869-FF11BBFD767C";
    "uuid:Suggestions:" = "E4CB6E62-0F14-4C1C-859B-31ECDAA791E4";
    "uuid:com.apple.C2ReportMetrics:" = "C1020650-CDE3-4E36-8257-E2D70C77ADC2";
    "uuid:com.apple.CA:" = "EA27341A-7686-4B52-9B08-288785BA592F";
    "uuid:com.apple.CoreAnalytics:" = "376800E1-A37F-40A3-9BF0-B5FBD14088ED";
    "uuid:com.apple.coreaudio:" = "09D19AC7-3418-4D7B-8DD9-97C3A6C04CF6";
    "uuid:framework:" = "C132A280-E237-4ACE-99D4-3D845540A630";
    "uuid:home:" = "4FCB73F3-AB8B-4822-8AC7-6B95CEBBCDEC";
    "uuid:multiwayconference:" = "49033ECF-63CD-4419-B035-3CAA0156D263";
    "uuid:network-service-proxy-free:" = "342BDBBE-AF57-4AC9-BDA9-44612FED0069";
    "uuid:storage:" = "8D5110D9-6856-4C45-8487-520A7DAF592C";
    "uuid:telephonyutilities:" = "93E6C7D1-4FFF-42AF-9650-63FA37A97036";
    uuidOverrideDNU = "7061CDAE-0C65-4875-AB8E-3FDB2C5FFF1A";
    uuidRespectDNU = "6C106D59-5AE1-4865-B549-5B195F32FE4F";
}
