{
    priorityQueue =     {
        "0:com.apple.XProtect.PluginService.daemon.fast.scan" = "707161279.653741";
        "0:com.apple.XProtect.PluginService.daemon.scan" = "1.202769994735718";
        "0:com.apple.XProtect.PluginService.daemon.slow.scan" = "706930912.927441";
        "0:com.apple.coreduetd.knowledge" = "707165391.147632";
        "0:com.apple.security.syspolicy.measure" = "706930928.0517811";
        "501:<Unknown>" = 0;
        "501:com.apple.ScreenTimeAgent.activity.clean-up-expired-store-items" = "706592553.046016";
        "501:com.apple.ScreenTimeAgent.app-discovery" = "707190768.3869931";
        "501:com.apple.XProtect.PluginService.agent.fast.scan" = "707157750.969478";
        "501:com.apple.XProtect.PluginService.agent.scan" = "1.133754014968872";
        "501:com.apple.XProtect.PluginService.agent.slow.scan" = "0.759564995765686";
        "501:com.apple.ap.promotedcontentd.gc" = "707165621.305764";
        "501:com.apple.coreduetd.knowledge.user" = "707165472.390411";
        "501:com.apple.icloud.searchpartyd.BeaconKeyManager" = "707169183.5925471";
        "501:com.apple.mediaanalysisd.fullanalysis" = "707174183.897491";
        "501:com.apple.mediaanalysisd.photos.face" = "707174277.311841";
        "501:com.apple.mediaanalysisd.photos.maintenance" = "707165438.498973";
        "501:com.apple.mediaanalysisd.photos.ocr" = "707174301.446866";
        "501:com.apple.mediaanalysisd.photos.visualsearch" = "707174228.3818229";
        "501:com.apple.mediaanalysisd.photosanalysis" = "707174285.08908";
        "501:com.apple.mlruntimed.xpc_activity-orchestra" = 0;
        "501:com.apple.photoanalysisd.backgroundanalysis" = "707169294.792966";
        "501:com.apple.photolibraryd.backgroundjobservice.lowpriority" = "707177711.014866";
        "501:com.apple.photolibraryd.backgroundjobservice.mediumpriority" = "707176000.4210939";
        "501:com.apple.photolibraryd.curatedlibraryprocessing" = "707174218.122058";
        "501:com.apple.photolibraryd.periodicmaintenance" = "707165504.208559";
        "501:com.apple.proactive.PersonalizationPortrait.NamedEntityImport" = "707165571.364567";
        "501:com.apple.proactive.PersonalizationPortrait.NamedEntityRepairAndExport" = "707165571.660849";
        "501:com.apple.proactive.PersonalizationPortrait.TopicImport" = "707165571.492151";
        "501:com.apple.proactive.PersonalizationPortrait.TopicRepairAndExport" = "707165571.775829";
        "501:com.apple.proactive.ProactiveHarvesting.Harvest" = 0;
        "501:com.apple.proactive.ProactiveHarvesting.Harvest.DelayedBudgeted" = "707174234.89018";
        "501:com.apple.proactive.ProactiveHarvesting.Harvest.PeriodicBackground" = "707165591.513151";
        "501:com.apple.proactiveinsights.submission" = "707165453.983578";
        "501:com.apple.routined.learnedLocationEngine.train" = "707174202.41118";
        "501:com.apple.routined.persistence.mirroring.background" = "707165605.552068";
        "501:com.apple.routined.purge" = "707165522.64844";
        "501:com.apple.suggestd.cd-cache-rebuild" = "707165543.026703";
        "501:com.apple.suggestd.identityanalysis" = "707165541.583432";
        "501:com.apple.suggestions.sqlentitystore.cacheprecomputation" = "707165541.9445519";
    };
}
